/*BASE*/

*,::after,::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
}

:root{
	--base-px: 10px;
	--grid-gap: 2.5rem;

	--green:#04482D;
	--dark-green:#033B25;
	--yellow:#CDFB0A;
	--dark-grey:#6e6e6e;
	--light-grey:#DCD7D0;
	--radius:30px;
	--white:#fff;
	--red:#fb7a64;
}

.grid{
	display: flex;
	flex-flow: wrap;
	gap: var(--grid-gap);
	justify-content: space-between;
}

.row{
	display: grid;
	grid-template-columns: repeat(12, 2fr);
	grid-template-rows: auto;
	align-items: center;
	height: auto;
}

.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}

html{
	font-size: var(--base-px);
}

body{
	font-family: 'Anuphan', sans-serif;
	background: var(--light-grey);
	font-size: 1.9rem;
	line-height: 3rem;
}

section{
	position: relative;
	padding: 3%;
}

img{
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

hr{
	background: grey;
	height: .05rem;
}

.btn{
    font-size: 1.6rem;
    display: flex;
    padding: 1rem 2rem;
    background: var(--green);
    color: black;
    border-radius: var(--radius);
	justify-content: center;
    align-items: center;
}

.white-box{
	font-size: 2rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    background: var(--white);
    color: black;
    border-radius: var(--radius);
}

.classic-btn{
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--green);
    color: black;
    border-radius: var(--radius);
	justify-content: center;
    align-items: center;
}

/*COMPONENTS*/

.container{
	width: 1300px;
	margin-inline: auto;
}

.h1{
	font-size: 9.6rem;
	line-height: 10.6rem;
}

.h2{
	font-size: 4.8rem;
	line-height: 7.2rem;
}

.h3{
	font-size: 2.9rem;
	line-height: 4.3rem;
}

/*ICONS*/

.icon-rocket::before{
	content:url('data:image/svg+xml,<svg fill="%23CDFB0A" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.411 21.39l-4.054 2.61-.266-1.053c-.187-.744-.086-1.534.282-2.199l2.617-4.729c.387 1.6.848 3.272 1.421 5.371zm13.215-.642l-2.646-4.784c-.391 1.656-.803 3.22-1.369 5.441l4.032 2.595.266-1.053c.186-.743.085-1.533-.283-2.199zm-3.626-11.592c-.035 3.267-1.166 7.176-2.347 11.844h-5.273c-1.234-4.534-2.38-8.469-2.38-11.809 0-3.703 1.511-6.688 5-9.191 3.559 2.517 5.04 5.425 5 9.156zm-2.114.578c.114-.328.161-1.187-.063-1.708-1.76.213-3.89.213-5.65 0-.223.521-.176 1.38-.061 1.708.687.195 1.786.292 2.887.292 1.099 0 2.198-.097 2.887-.292zm-1.439 14.266h-2.895l-.552-2h4l-.553 2z"/></svg>');
	position: relative;
	top:5px;
}


.icon-arrow::before{
	content:url('data:image/svg+xml,<svg fill="%2304482D" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m14.523 18.787s4.501-4.505 6.255-6.26c.146-.146.219-.338.219-.53s-.073-.383-.219-.53c-1.753-1.754-6.255-6.258-6.255-6.258-.144-.145-.334-.217-.524-.217-.193 0-.385.074-.532.221-.293.292-.295.766-.004 1.056l4.978 4.978h-14.692c-.414 0-.75.336-.75.75s.336.75.75.75h14.692l-4.979 4.979c-.289.289-.286.762.006 1.054.148.148.341.222.533.222.19 0 .378-.072.522-.215z" fill-rule="nonzero"/></svg>');
}


.icon-facebook::before{
	content:url('data:image/svg+xml,<svg fill="%2304482D" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>');
}

.icon-facebook.white::before{
	content:url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>');
	position: relative;
	top:5px;
}

.icon-twitter::before{
	content:url('data:image/svg+xml,<svg fill="%2304482D" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>');

	position: relative;
	top:5px;
}

.icon-instagram::before{
	content:url('data:image/svg+xml,<svg fill="%2304482D" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>');
}

.icon-instagram.white::before{
	content:url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>');
	position: relative;
	top:5px;
}


.icon-heart::before{
	content:url('data:image/svg+xml,<svg fill="%23CDFB0A" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>');
	position: relative;
	top:5px;
}

.icon-twitter.white::before{
	content:url('data:image/svg+xml,<svg fill="%23fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>');
	position: relative;
	top:5px;
}



/* Barre header */

header{ /* Zone du header */
	background: var(--green);
	display: flex;
	height: 4.5em;
	border-radius: 0 0 var(--radius) var(--radius);
	position: sticky;
	align-items: center;
	justify-content: center;
  	top: 0;
  	z-index: 100;
}

.header{
	align-items: center;
}

.super-agence-title{
	color: var(--white);
	font-size: 2.8rem;
	display: inline-block;
	align-items: center;
}

.header-right{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.header-text a{
	margin: 2rem;
	color: var(--white);
	font-size: 2.2rem;
}

.header-icons{
	transform: scale(1.1);
}

.header-icons a{
	margin: 1rem;
}

.hbg{
	display: none;
}

.hbg span{
	display: none;
}



/* Section "Agence Top Méga Cool !" */

.sec-6firstcol{
	grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.btn_rocket{
	display: inline-flex;
	gap: 1rem;
	justify-content: start;
}

.btn_rocket .btn{
	gap: 2rem;
}

.sec-1-title{
	color: var(--green);
	font-size: 7rem;
	line-height: 12rem;
}

.sec-1-subtitle span{
	color: var(--dark-grey);
	font-size: 3rem;
}

.sec-1-btn span:first-child{
	color: white;
	padding: 1.5rem 3.5rem;
	margin: 0 1rem 0 0;
}

.sec-1-btn span:last-child{
	color: var(--green);
	background: var(--yellow);
	padding: 1.5rem 3.5rem;
}

.sec-1-image{
	display: flex;
    overflow: hidden;
}

.sec-1-image img{
	border-radius: var(--radius);
	width: 80%; /* S'adapte au conteneur */
	height: 100%;
}

/* Section "Comment ça marche" */
.sec-4{
	background: var(--green);
	height: 100%;
}

.how-this-works{
	display: grid;
    justify-content: center;
    align-items: center;
}

.how-this-works h1{
	color: var(--white);
	font-size: 9rem;
	line-height: 100%;
	padding: 0 0 3rem 0;
	place-self: center;
}


.video-how-this-works img{
	height: auto;
	max-width: 90%;
	border-radius: var(--radius);
}

.icon-youtube{
	display: flex;
    fill: var(--green);
    position: absolute;
	transform: scale(3.5);
	top: 3;
}

.icon-youtube:hover{
	fill: var(--yellow);
}

/* Section "Allez, viens !" */
.sec-8{
	background: var(--green);
	height: 100%;
}

.join-us{
	display: block;
    justify-content: center;
    align-items: center;
}

.join-us h1{
	color: var(--white);
	font-size: 9rem;
	line-height: 100%;
	padding: 0 0 3rem 0;
	place-self: center;
}

.join-us iframe{
	border-radius: var(--radius);
}

@media screen and (max-width: 1350px){
	:root{
        --grid-gap: 2rem;
      }

	.container{
        width: 1000px;
		margin-inline: auto;
    }

    .col-md-1{grid-column: span 1;}
	.col-md-2{grid-column: span 2;}
	.col-md-3{grid-column: span 3;}
	.col-md-4{grid-column: span 4;}
	.col-md-5{grid-column: span 5;}
	.col-md-6{grid-column: span 6;}
	.col-md-7{grid-column: span 7;}
	.col-md-8{grid-column: span 8;}
	.col-md-9{grid-column: span 9;}
	.col-md-10{grid-column: span 10;}
	.col-md-11{grid-column: span 11;}
	.col-md-12{grid-column: span 12;}


	.header{
		align-items: center;
	}
	
	.super-agence-title{
		color: var(--white);
		font-size: 2.8rem;
		display: inline-block;
		align-items: center;
	}
	
	.header-right{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1.5rem;
	}
	
	.header-text a{
		margin: 1.5rem;
		color: var(--white);
		font-size: 2.2rem;
	}
	
	.header-icons{
		transform: scale(1.1);
	}
	
	.header-icons a{
		margin: 1rem;
	}

}



@media screen and (max-width: 1050px){ /* Ordinateur */
	:root{
        --grid-gap: 1.5rem;
      }

    .container{
        width: 800px;
		margin-inline: auto;
    }

    .col-sm-1{grid-column: span 1;}
	.col-sm-2{grid-column: span 2;}
	.col-sm-3{grid-column: span 3;}
	.col-sm-4{grid-column: span 4;}
	.col-sm-5{grid-column: span 5;}
	.col-sm-6{grid-column: span 6;}
	.col-sm-7{grid-column: span 7;}
	.col-sm-8{grid-column: span 8;}
	.col-sm-9{grid-column: span 9;}
	.col-sm-10{grid-column: span 10;}
	.col-sm-11{grid-column: span 11;}
	.col-sm-12{grid-column: span 12;}
	
	.super-agence-title{
		font-size: 2.8rem;
	}
	
	.header-right{
		gap: 1rem;
	}
	
	.header-text a{
		margin: 1rem;
		font-size: 1.7rem;
	}
	
	.header-icons{
		transform: scale(0.9);
	}
	
	.header-icons a{
		margin: 1rem;
	}

	.join-us h1{
		font-size: 6.5rem;
		padding: 0 0 3rem 0;
	}
}


@media screen and (max-width: 850px){ /* Tablette */
	.container{
		width: 650px;
		margin-inline: auto;
	}

	.col-tab-5{grid-column: span 5;}
	.col-tab-6{grid-column: span 7;}

	.super-agence-title{
		font-size: 2.4rem;
	}
	
	.header-right{
		gap: 1rem;
	}
	.header-text a{
		margin: 1rem;
		font-size: 1.8rem;
	}
	
	.header-icons{
		transform: scale(0.8);
	}
	
	.header-icons a{
		margin: 0.4rem;
	}

	.join-us h1{
		font-size: 7rem;
		padding: 0 0 3rem 0;
	}
	
}

@media screen and (max-width: 650px){ /* Mobile */
	.container{
		width: 90%;
		padding-inline: 0.5rem;
	}

	.h1{
	   font-size: calc(9.6rem / 1.5);
	   line-height: calc(10.6rem / 1.5);
	}

	.h2{
		font-size: calc(4.8rem / 1.5);
	   line-height: calc(7.2rem / 1.5);
	}

	.h3{
		font-size: calc(2.9rem / 1.5);
	   line-height: calc(4.3rem / 1.5);
	}

	
	.super-agence-title{
		font-size: 2.4rem;
	}
	
	.header-text a{
		display: none;
	}
	
	.header-icons{
		display: none;
	}

	.hbg{
		display: flex;
		width: 60px;
		height: 50px;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		gap: .7rem;
	}
	
	.hbg span{
		display: inline-block;
		width: 70%;
		height: 4px;
		background-color: var(--white);
		border-radius: var(--radius);
	}


	.join-us h1{
		font-size: 5.5rem;
		padding: 0 0 3rem 0;
	}

	.join-us iframe{
		border-radius: 0;
	}
}

footer {
    display: flex;
    background-color:#04482D;  
    color:#fff;
    padding: 5rem;
    justify-content: space-between;
    text-align: center;
}
